#footer {
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  position: relative;
  margin-top: 4rem;
}
footer {
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem 0;
  align-content: stretch;
  font-weight: 300;
  font-size: 1.125rem;
  flex-wrap: wrap;
}

footer h3 {
  padding-bottom: 1rem;
  font-size: 1.25;
}

footer,
footer a {
  color: var(--white-color);
}

footer .cols {
  padding-right: 1rem;
  margin: 2rem 0;
}

footer .footer-para p {
  /* width: 35ch; */
  /* width: 390px; */
  width: 24rem;
}

/* footer cols p but not first cols's p  */
footer .cols:not(:first-child) p {
  line-height: 2.375;
}

.footer-para {
  line-height: 1.75;
}

.light {
  position: absolute;
  left: 0;
  bottom: 0;
  /* z-index: 1; */
}

.linear {
  position: absolute;
  right: 2rem;
  top: -4rem;
  z-index: -1;
}

@media screen and (max-width: 800px) {
  footer {
    flex-direction: column;
    padding: 0.5rem;
  }

  #footer .footer-para p {
    width: auto;
  }
}
