.leading-healthcare-providers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.leading-healthcare-providers-img img {
  max-width: 90%;
  height: 100%;
  object-fit: cover;
  flex-basis: 50%;
}

.leading-healthcare-providers-text {
  flex-basis: 50%;
  padding-left: 2rem;
}

.leading-healthcare-providers-text h1 {
  margin-bottom: 0;
}

.leading-healthcare-providers-text h1::after {
  margin: 0;
}

.leading-healthcare-providers-text p {
  margin: 1rem 0;
  font-size: 1.125rem;
  font-weight: 300;
  color: var(--tertiary-color);
  line-height: 1.875;
}

@media screen and (max-width: 900px) {
  .leading-healthcare-providers-text {
    margin-left: 0;
  }

  .leading-healthcare-providers-text {
    padding: 0;
  }

  .leading-healthcare-providers {
    flex-direction: column;
    align-items: flex-start;
  }

  .leading-healthcare-providers-img img {
    margin-bottom: 2rem;
  }
}
