.leading-healthcare-providers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
}

.leading-healthcare-providers-img img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  flex-basis: 50%;
}

.leading-healthcare-providers-text {
  flex-basis: 50%;
  margin-left: 2rem;
}

.leading-healthcare-providers-text h1 {
  margin-bottom: 0;
}

.leading-healthcare-providers-text h1::after {
  margin: 0;
}

.leading-healthcare-providers-text p {
  margin: 1rem 0;
  font-size: 1.125rem;
  font-weight: 300;
  color: var(--tertiary-color);
  line-height: 1.875;
}
