nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  /* font-size: calc(1rem + 2px); */
  font-size: 1.125rem;
  margin-bottom: 2rem;
}

nav a {
  color: var(--dark-color);
}

nav .logo-section img {
  width: 10rem;
}

nav .nav-links ul {
  display: flex;
  gap: 2.5rem;
  list-style: none;
  flex-wrap: wrap;
}

nav .nav-links ul li {
  opacity: 0.5;
}

nav .nav-links ul li:hover {
  font-weight: bold;
  cursor: default;
  opacity: 1;
}

.nav-btn {
  display: none;
}

/* Layout Shift on hover Fix */
/* Thanks to: https://css-tricks.com/bold-on-hover-without-the-layout-shift/ */

.menu {
  --bold: 700; /* For Layout Shift Fix */
  display: flex;
  flex-wrap: wrap;
}

.menu-link {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.menu-link:hover {
  font-weight: var(--bold);
}

.menu.fix .menu-link::after {
  content: attr(data-text);
  content: attr(data-text) / "";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  font-weight: var(--bold);
}

@media speech {
  .menu.fix .menu-link::after {
    display: none;
  }
}
/* Hover Layout Shift Fix End */

@media screen and (max-width: 1000px) {
  .container {
    position: relative;
  }

  .nav-links {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .menu-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  .menu-items {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: var(--primary-color);
    border-radius: 5px 0 0 5px;
    display: flex;
    flex-direction: column;
    color: var(--white-color);
    padding-left: 2rem;
    list-style: none;
    justify-content: center;
    align-items: flex-start;
    width: 50vw;
    height: 100vh;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in;
  }

  .menu-items a {
    color: var(--white-color);
  }

  .nav-btn {
    display: block;
  }

  .close-btn,
  .menu-btn {
    width: 25px;
    z-index: 100;
    position: relative;
    /* margin-right: rem; */
  }

  .close-btn {
    filter: invert(100%) sepia(100%) saturate(558%) hue-rotate(204deg)
      brightness(112%) contrast(101%);
    display: none;
  }
}
