.our-services {
  text-align: center;
  margin: 4rem 0;
}

.our-services p {
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: 1rem;
  color: var(--tertiary-color);
  width: 95%;
}

.our-services .cards-container {
  position: relative;
  display: flex;
  gap: 2rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* align-content: stretch; */
  margin: 0 auto;
}

.our-services .bg-container {
  position: absolute;
  left: -26.18%;
  top: -35%;
  z-index: -1;
}

.our-services .cards-container .card {
  padding: 2rem 1rem;
  text-align: left;
  max-width: 300px; /* Couldnot fit to the width according to the design in Figma */
  /* min-width: 100px; */
  background: var(--white-color);
  border-radius: 20px;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  transition: all 0.3s ease-in-out;
}

.our-services .cards-container .card h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.5rem auto;
  line-height: 1.5;
}

.our-services .cards-container .card p {
  font-size: 1rem;
  font-weight: 300;
  margin: 0.5rem 0;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .bg-container-img {
    display: none;
  }
}
